body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#calcBody {
    background-color: grey;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#intButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#operatorButtons {
    display:flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}